<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.riuir.calibur">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/calibur_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/calibur_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.riuir.calibur.utils.CustomGlideModule"
            android:value="GlideModule" />

        <!-- 多渠道打包 -->
        <meta-data
            android:name="channel"
            android:value="calibur" />
        <!-- bugly升级 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <!-- bugly升级provider -->
        <provider
            android:name=".utils.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <activity
            android:name=".ui.home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.loginAndRegister.LoginAndRegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="calibur.activity.loginAndRegister" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.loginAndRegister.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.home.Drama.DramaActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginAndRegister.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.loginAndRegister.ForgetPassWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.home.card.CardPreviewPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.card.CardShowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.card.CardReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.card.CardChildCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.widget.SelectorImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.role.RolesShowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.image.ImageShowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.score.ScoreShowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.user.UserMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.Drama.DramaSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".ui.home.card.CardCreateNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.home.Drama.DramaVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.home.mine.MineInfoSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.home.choose.ChooseNewCardBangumiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.Drama.DramaTagsSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.image.CreateNewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.choose.ChooseImageAlbumActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.home.image.CreateImageAlbumActivity" />
        <activity android:name=".ui.home.report.ReportActivity">
            <intent-filter>
                <action android:name="calibur.activity.report" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.mine.ClearCacheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.report.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.web.WebViewActivity" />
        <activity
            android:name=".ui.home.Drama.dramaConfig.DramaMasterConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.Drama.dramaConfig.DramaMasterPostSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.Drama.dramaConfig.DramaMasterAnimeSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.home.Drama.dramaConfig.DramaMasterRoleSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.Drama.dramaConfig.choose.DramaMasterSettingChooseTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.Drama.dramaInfo.DramaInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.choose.CardChooseTagsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.home.message.MessageShowCommentActivity" />
        <activity android:name=".ui.home.Drama.DramaCartoonShowActivity" />
        <activity android:name=".ui.home.Drama.DramaCartoonCommentActivity"></activity>
    </application>

</manifest>