<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.riuir.calibur">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/calibur_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/calibur_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.riuir.calibur.utils.CustomGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".ui.home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.loginAndRegister.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.home.Drama.DramaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginAndRegister.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.loginAndRegister.ForgetPassWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.home.card.CardPreviewPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.card.CardShowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.card.CardReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.card.CardChildCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.widget.SelectorImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.role.RolesShowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.image.ImageShowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.score.ScoreShowInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.user.UserMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.Drama.DramaSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".ui.home.card.CardCreateNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.Drama.DramaVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.home.mine.MineInfoSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.home.choose.ChooseNewCardBangumiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.Drama.DramaTagsSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.image.CreateNewImageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.home.choose.ChooseImageAlbumActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>